@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
html, body{
	height: 100%;
	overflow: hidden;
	margin: 0px;
	background-color: black;

	font-family: "Ubuntu", sans-serif;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#myVideo{
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

#options{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;

}

.options-item{
  height: 50%;
}

#opt1{
  background-color: black;
  opacity:0.3;
  color: white;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

#opt1:hover{
  opacity: 1;
    -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
}

#opt2{
  background-color: black;
  opacity:0.3;
  color: white;
  -webkit-transition: all 0.5s ease-out 0s;
   -moz-transition: all 0.5s ease-out 0s;
   -ms-transition: all 0.5s ease-out 0s;
   -o-transition: all 0.5s ease-out 0s;
   transition: all 0.5s ease-out 0s;
}

#opt2:hover{
  opacity: 1;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
}

#opt3{
  background-color: black;
  opacity:0.3;
  color: white;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
#opt3:hover{
  opacity: 1;
    -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
}
#opt4{
  background-color: black;
  opacity:0.3;
  color: white;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;

}
#opt4:hover{
  opacity: 1;
    -webkit-opacity: 0.25;
  -moz-opacity: 0.25;}
p{
  text-align: center;
  font-size: 2rem;
  margin: 0;
  position: relative;
  top: 42%;
}


.wrapper {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

#wp {
  display: block;
}

#myVideo{
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
  opacity: 1;
}

#c1 {
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
  opacity: 1;
}

#c2 {
  left: -100%;
  z-index: 0;
  box-shadow: 0px 20px 100px #555;
  opacity: 1;

}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}


@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

